{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.mts", "*.ts", "*.tsx"],
      "options": {
        "useTabs": true
      }
    }
  ]
}
